<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-sm-0">
      <h2>Editing Book</h2>
      <!--エラーメッセージの表示-->
      <% if @book.errors.any? %>
        <% if @book.errors.count == 1 %>
          <%= @book.errors.count %> error prohibited this obj from being saved:
        <% else %>
          <%= @book.errors.count %> errors prohibited this obj from being saved:
        <% end %>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>


      <%= form_with model:@book do |f| %>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" autofocus="true" value="<% @book.title %>"><!--placeholder:"名前" 入力前に自動的に入る文言-->
        </div>
        <!--<p>Title</p>-->
        <!--<%= f.text_field :title,autofocus:true %> <!--id:inputTitleいるかな？、placeholder:"名前" 入力前に自動的に入る文言?-->
        <div class="form-group">
          <label for="opinion">Opinion</label>
          <!--自己紹介文、id:"introduction"とか入れるのかな？-->
          <textarea class="form-control" value="<% @book.opinion %>"></textarea>
        </div>
        <!--<p>Opinion</p>-->
        <!--<%= f.text_area :body %>-->
        <div class="form-group">
          <%= f.submit "Update Book",class:"btn btn-success" %>
        </div>
      <% end %>

      <div class="link d-flex">
        <p><%= link_to "Show",book_path(@book) %></p>
        <p>&nbsp|&nbsp</p>
        <p><%= link_to "Back",books_path %></p>
      </div>

    </div>
  </div>
</div>
