<h2>Editing Book</h2>
<!--エラーメッセージの表示-->
<% if @book.errors.any? %>
  <% if @book.errors.count == 1 %>
    <%= @book.errors.count %> error prohibited this obj from being saved:
  <% else %>
    <%= @book.errors.count %> errors prohibited this obj from being saved:
  <% end %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model:@book do |f| %>
  <p>Title</p>
  <%= f.text_field :title,autofocus:true %> <!--id:inputTitleいるかな？、placeholder:"名前" 入力前に自動的に入る文言?-->
  <p>Opinion</p> <!--説明文の編集部分 id:"opinion"とか入れるのかな？-->
  <%= f.text_area :body %>
  <%= f.submit "Update Book" %>
<% end %>

<p><%= link_to "Show",book_path(@book) %></p>
<p> | </p>
<p><%= link_to "Back",books_path %></p>