<div>
  <!--userの画像は下の一文で表示される？-->
  <!--<%= image_tag @book.get_image %>-->
  <!--タイトルとかの題名はついていないからデータ部分だけ記述する-->
  <p><%= @book.user.name %></p>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <p><%= image_tag 'person.jpg' %></p>
  <!--<p><%= @book.user.name %></p>-->
  <!--<p><%= @book.created_at.strftime('%Y/%m/%d') %></p>-->
  <% if @book.user == current_user %>
    <%= link_to "Destroy",book_path(@book),method: :delete %>
  <% end %>

</div>