<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Bootstrap適用の為stylesheet部分変更。JabaScript配下ファイルを参照-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <!--ログアウト機能などを設定-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mx-auto px-3">
          <a class="navbar-brand py-1 mr-3" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <!--divise側が用意しているヘルパーメソッドで、
            ログインしている時true、ログインしていない場合falseの中が実行される-->
            <% if user_signed_in? %>
            <!--ログイン状態での表示-->
            <li class="nav-item">
              <%= link_to user_path(current_user.id),class:'nav-link text-light' do %>
                <span><i class="fas fa-house-chimney"></i>Home</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path,class:'nav-link text-light' do %>
                <span><i class="fas fa-users"></i>Users</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to books_path,class:'nav-link text-light' do %>
                <span><i class="fas fa-book-open"></i>Books</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path,method: :delete, class:'nav-link text-light' do %>
                <span><i class="fas fa-right-from-bracket"></i>Log out</span>
              <% end %>
            </li>

            <!--ログイン前の表示-->
            <% else %>
            <li class="nav-item">
              <%= link_to "/",class:'nav-link text-light' do %>
                <span><i class="fas fa-house-chimney"></i>Home</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class:'nav-link text-light' do %>
                <span><i class="fas fa-link"></i>About</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class:'nav-link text-light' do %>
                <span><i class="fas fa-user-plus"></i>Sign up</span>
              <% end %>
            </li>
            <li class="nav-item">
            <%= link_to new_user_session_path,class:'nav-link text-light' do %>
                <span><i class="fas fa-right-to-bracket"></i>Log in</span>
              <% end %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <div class="notice mb-3">
        <!--successメッセージを表示するために、、-->
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <footer class="shadow-sm">
      <div class="container mt-5">
        <div class="mx-auto">
          <p class="mb-3 text-center">CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>

  </body>
</html>
