<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Bootstrap適用の為stylesheet部分変更。JabaScript配下ファイルを参照-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <!--ログアウト機能などを設定-->
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <!--divise側が用意しているヘルパーメソッドで、
            ログインしている時true、ログインしていない場合falseの中が実行される-->
            <% if user_signed_in? %>
            <!--ログイン状態での表示-->
            <li class="nav-item">
              <!--アイコン入れなきゃ、自分の投稿一覧へリンク変更する-->
              <%= link_to 'Home',user_path(current_user.id), class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <!--アイコン入れなきゃ、User一覧へリンク変更する-->
              <%= link_to 'Users',new_book_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <!--アイコン入れなきゃ、投稿一覧へリンク変更する-->
              <%= link_to 'Books',new_book_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <!--アイコン入れなきゃ-->
              <%= link_to "Log out",destroy_user_session_path,method: :delete, class:'nav-link text-dark' %>
            </li>

            <!--ログイン前の表示-->
            <% else %>
            <li class="nav-item">
              <!--アイコン入れなきゃ、リンク変更する-->
              <%= link_to 'Home',"/", class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <!--アイコン入れなきゃ、リンク変更する-->
              <%= link_to 'About',about_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <!--アイコン追加する-->
              <%= link_to "Sign up",new_user_registration_path, class:'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <!--アイコン追加する-->
            <%= link_to "Log in",new_user_session_path, class:'nav-link text-dark' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
    <%= yield %>
    </main>

    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <p>CopyRight Infratop.inc</p>
      </div>
    </footer>

  </body>
</html>
